.movieChart {
    margin: auto;
    font-size: 17px;
    padding-top: 10px;
    border-bottom: 5px solid black;
    width: 1000px;
}
.sort {
    float: right;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}
#sortMovie {
    width: 100px;
    height: 35px;
}
#sortSubmit {
    width: 40px;
    height: 35px;
}
.movieList {
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    width: 1000px;
    height: 500px;
}

@media screen and (max-width: 1000px) {
    .movieChart {
        margin-top: 137px;
    }
}
